<!DOCTYPE html>
<html>
<head>
<title>History</title>
<style>
body{
background:#0f2027;
color:white;
font-family:Segoe UI;
padding:30px;
}
.box{
background:rgba(255,255,255,0.08);
padding:20px;
border-radius:15px;
margin-bottom:20px;
}
a{
color:#00c6ff;
text-decoration:none;
}
</style>
</head>
<body>

<h1>Travel History</h1>

{% for file, data in records.items() %}
<div class="box">
<h2>{{ file }}</h2>

{% if data %}
{% for item in data %}
<p>{{ item }}</p>
{% endfor %}
{% else %}
<p>No history found</p>
{% endif %}

</div>
{% endfor %}

<a href="/dashboard">← Back to Dashboard</a>

</body>
</html>