<!DOCTYPE html>
<html>
<head>
    <title>History</title>

    <style>
        body {
            font-family: Arial;
            text-align: center;
        }

        .box {
            background: #f2f2f2;
            margin: 10px auto;
            padding: 10px;
            width: 50%;
            border-radius: 10px;
        }
    </style>
</head>

<body>

<h1>Conversion History</h1>

{% for record in records %}
    <div class="box">{{ record }}</div>
{% endfor %}

<br>
<a href="/">Back</a>

</body>
</html>